@font-face {
  font-family: "cmLoveGilroy";
  font-weight: 100;
  src: local("Gilroy"),
    url("https://www.copaair.com/copalove/fonts/Radomir+Tinkov+-+Gilroy-Thin.otf");
}

@font-face {
  font-family: "cmLoveGilroy";
  font-weight: 200;
  src: local("Gilroy"),
    url("https://www.copaair.com/copalove/fonts/Radomir+Tinkov+-+Gilroy-UltraLight.otf");
}

@font-face {
  font-family: "cmLoveGilroy";
  font-weight: 300;
  src: local("Gilroy"),
    url("https://www.copaair.com/copalove/fonts/Radomir+Tinkov+-+Gilroy-Light.otf");
}

@font-face {
  font-family: "cmLoveGilroy";
  font-weight: normal;
  src: local("Gilroy"),
    url("https://www.copaair.com/copalove/fonts/Radomir+Tinkov+-+Gilroy-Regular.otf");
}

@font-face {
  font-family: "cmLoveGilroy";
  font-weight: 500;
  src: local("Gilroy"),
    url("https://www.copaair.com/copalove/fonts/Radomir+Tinkov+-+Gilroy-Medium.otf");
}

@font-face {
  font-family: "cmLoveGilroy";
  font-weight: 600;
  src: local("Gilroy"),
    url("https://www.copaair.com/copalove/fonts/Radomir+Tinkov+-+Gilroy-Bold.otf");
}

@font-face {
  font-family: "cmLoveGilroy";
  font-weight: bold;
  src: local("Gilroy"),
    url("https://www.copaair.com/copalove/fonts/Radomir+Tinkov+-+Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: "cmLoveGilroy";
  font-weight: 800;
  src: local("Gilroy"),
    url("https://www.copaair.com/copalove/fonts/Radomir+Tinkov+-+Gilroy-Black.otf");
}

@font-face {
  font-family: "cmLoveGilroy";
  font-weight: 900;
  src: local("Gilroy"),
    url("https://www.copaair.com/copalove/fonts/Radomir+Tinkov+-+Gilroy-Heavy.otf");
}
