.bffHeader {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-rows: 32px auto 1fr 32px;
  width: 100%;
}

@media only screen and (min-width: 425px) {
  .bffHeader {
    grid-template-columns: 16px 1fr 16px;
    grid-template-rows: 16px auto 1fr 16px;
  }
}

@media only screen and (min-width: 600px) {
  .bffHeader {
    grid-template-columns: 16px 1fr 16px;
    grid-template-rows: 32px auto 1fr 16px;
  }
}

@media only screen and (min-width: 768px) {
  .bffHeader {
    grid-template-columns: 64px 1fr 64px;
    grid-template-rows: 24px auto auto 1fr 16px;
  }
}

@media only screen and (min-width: 1024px) {
  .bffHeader {
    grid-template-columns: 64px 1fr 64px;
    grid-template-rows: 16px auto 1fr 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .bffHeader {
    grid-template-columns: 64px 1fr 64px;
    grid-template-rows: 16px auto 1fr 32px;
  }
}

@media only screen and (min-width: 1920px) {
  .bffHeader {
    grid-template-columns: 64px 1fr 64px;
    grid-template-rows: 32px auto 1fr 32px;
  }
}

.bffHeader__image {
  width: 100vw !important;
  z-index: 1;
  max-width: 100vw !important;
}

.bffHeader__overlay {
  background: linear-gradient(
    180deg,
    #0032a0 4.78%,
    rgba(0, 50, 160, 0) 56.25%
  );
  grid-column: 1 / span 3;
  grid-row: 1 / span 4;
}

.bffHeader__imageSet {
  grid-column: 1 / span 3;
  grid-row: 1 / span 4;
}

.bffHeader__carousel {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100vw;
  display: flex;
}

.bffHeader__title-booknow {
  grid-column: 2;
  grid-row: 3;
  justify-content: center;
  align-self: start;
  margin-top: 16px;
}

.bffHeader__title {
  color: #fff;
  font-family: "Gilroy";
  justify-self: center;
  align-self: center;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .bffHeader__title {
    font-size: 48px;
  }
}

.bffHeader__bookNow {
  justify-self: center;

  padding: 8px 24px;
  width: auto;
  height: auto;
  background: #0e68ff;
  border-radius: 100px;
  color: #fff;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none !important;
}

.bffHeader__bookNow:hover {
  background: #001a66;
  color: #fff;
}

.bffHeader__bookNow:focus {
  background: #0e68ff;
  outline: #fff solid 1px;
  border: 2px solid #0032a0;
  border-radius: 100px;
  color: #fff;
}

.bffHeader__bookNow:active {
  background: #001a66;
  outline: #fff solid 1px;
  border: 2px solid #0032a0;
  border-radius: 100px;
  color: #fff;
}

a:visited {
  color: #fff;
}

.bffHeader__image {
  width: 100vw !important;
  z-index: 1;
  max-width: 100vw !important;
}

.bffHeader__intro {
  grid-row: 2;
  display: flex;
  justify-self: center;
  align-self: flex-start;
  margin: 0 auto;
  justify-self: center;
  grid-column: 2;
  grid-row: 2;
  justify-content: center;
  align-self: start;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .bffHeader__intro {
    width: 79%;
  }
}

@media only screen and (min-width: 1024px) {
  .bffHeader__intro {
    width: 65%;
  }
}

@media only screen and (min-width: 1440px) {
  .bffHeader__intro {
    width: 72%;
  }
}

@media only screen and (min-width: 1920px) {
  .bffHeader__intro {
    width: 60%;
  }
}
